.DS_Store
# XCode Setting
xcuserdata/
UserInterfaceState.xcuserstate
# VSCode Setting
.vscode
# CocoaPods Dependencies
Pods/
# KiCAD ignore files
Hardware/ExiFlexBoard/fp-info-cache
Hardware/ExiFlexBoard/*.bak
Hardware/ExiFlexBoard/partslib/*.bak
Hardware/ExiFlexBoard/ExiFlexBoard-backups
